*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header{
    background:#fff;
    width: 100%;
    position: relative;
    background:#f2f3fa;
}
.navbar{
    width: 100%;
    padding: 25px 0;
    position: static;
}
.navbar__list{
    margin:0;
    padding: 0;
    display:flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
   position: static!important;
}
.navbar__list__item{
    position: relative;
    cursor: pointer;
}
.navbar__list__item:after{
    content: "";
    display:block;
    position: absolute;
    background:transparent;
    height: 30px;
    width: 100%;
}
.navbar__list__item__full:after{
    content: "";
    display:block;
    position: absolute;
    background:transparent;
    height: 40px;
    width: 100%;
}
.navbar__list__item__text{
    font-size: 16px;
    text-transform: capitalize;
    margin-right: 5px;
    color:rgb(23,19,71);
    transition: all .3s;
}
.navbar__list__item__icon{
    font-size: 10px;
     transition: all .3s;
}
.navbar__list__item:hover .navbar__list__item__text,.navbar__list__item:hover .navbar__list__item__icon{
    color:#008aff;
}
.navbar__list__item:hover .navbar__list__item__dropdown,.navbar__list__item:hover .navbar__list__item__dropdown__full{
    display:block;
}
.navbar__button{
    border:2px solid rgb(255,190,61);
    text-transform: capitalize;
    background:rgb(255,190,61);
    padding: 5px 17px;
    font-size: 14px;
    border-radius: 7px;
    color:#fff;
    transition: all .5s;
}
.navbar__button:hover{
    color:rgb(255,190,61);
    background:#fff;
}
.navbar__list__item__dropdown{
    position: absolute;
    list-style: none;
    padding: 0;
    margin:0;
    width: 180px;
    top:calc(100% + 25px);
    box-shadow:  0px 26px 21px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    border-top: 3px solid #008aff;
    animation:hideIn1 .5s forwards;
    display:none;
    z-index: 2;
    background:#fff;
}
.navbar__list__item__dropdown__full{
    position: absolute;
    list-style: none;
    padding: 0;
    margin:0;
    width: 100%;
    left:0;
    top:80px;
    box-shadow:  0px 26px 21px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    border-top: 3px solid #008aff;
    animation:hideIn1 .5s forwards;
    display:none;
    z-index: 2;
    background:#fff;
}
.navbar__list__item__full{
    position: static;
}
.navbar__list__item__dropdown__item{
    padding:10px 0 10px 15px;
    color:rgb(113,128,150);
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
}
.navbar__list__item__dropdown__item:hover{
    color:#008aff;
}
.navbar__list__item__dropdown__full__item__logo{
    font-size: 16px;
    text-transform: capitalize;
    margin:15px 0;
}
.navbar__list__item__dropdown__full__item__list{
    padding: 0;
    margin:0;
    list-style: none;
}
.navbar__list__item__dropdown__full__item__list__item{
    display:flex;
    align-items: center;
    margin:10px 0;
    color:rgb(113,128,150);
}
.navbar__list__item__dropdown__full__item__list__item:hover{
    color:#008aff;
    transition: all .3s;
}
.navbar__list__item__dropdown__full__item__list__item__text{
    text-transform: capitalize;
    margin-left: 12px;
    font-size: 14px;
    font-weight: 400
}


.header_introduce{
    margin-top: 50px;
}
.header__introduce__content__top{
    background:rgb(23,19,71);
    color:#fff;
    padding: 3px 10px;
    margin:20px 0;
    display:inline-block;
    border-radius: 15px;
}
.header__introduce__content__title{
    font-size: 50px;
    font-weight: 700;
    color:rgb(23,19,71);
    font-family:"Space Grotesk", sans-serif;
    margin:20px 0;
}
.header__introduce__content__desc{
    font-size: 16px;
    color:rgb(113,128,150);
}
.header__introduce__content__btn{
    border: 2px solid rgb(23,19,71); ;
    outline: none;
    border-radius: 10px;
    padding: 15px 25px;
    background:rgb(23,19,71); 
    color:#fff;
    text-transform: capitalize;
    transition: all .5s;
}
.header__introduce__content__btn span{
    margin-right: 10px;
}
.header__introduce__content__btn:hover{
    color:rgb(23,19,71);
    background:#fff;
}

.header__infor{
    padding: 40px 0 100px;
    margin-top:50px;
}
.header__infor__top{
    color:#008aff;
    margin:10px 0;
    font-size: 15px;
    font-weight: 700;
}
.header__infor__title{
    font-size: 27px;
    margin:10px 0;
    color:rgb(23,19,71);
    width: 300px;
    font-weight: 700;

}
.header__infro__content{
    width: 300px;
    font-weight: 500;
    line-height: 25px;
    font-size: 15px;
    color:#718096;
    margin:10px 0;
}
.header__infor__btn{
    border: 2px solid #008aff;
    outline: none;
    border-radius: 7px;
    padding: 6px 15px;
    background:#008aff;
    color:#fff;
    text-transform: capitalize;
    transition: all .5s;
    margin-top: 15px;
}
.header__infor__btn:hover{
    color:#008aff;
    background: #fff;
}

.header__infor__img{
    box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.05);
}
.header__infor__img img{
    width: 100%;
}
.header__infor__title2{
    color:#171347;
    font-size: 14px;
    margin:15px 0;
    font-weight: 700;
}
.header__infro__content__width{
    width: 100%;
}
.header__category{
    background:#f2f3fa;
    padding: 60px 0;
}
.header__category__item{
    width: 100%;
    height: 134px;
    background:#fff;
    display:flex;
    padding: 15px 20px;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.05);
    border-radius: 6px;
    transition: all .5s;
    cursor: pointer;
}
.header__category__item__icon{
    font-size: 40px;
    color:#008aff;
}
.header__category__content{
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}
.header__category__item:hover{
    transform: translateY(-10px);
    background: #008aff;
    color:#fff;
}
.header__category__item:hover .header__category__item__icon{
    color:#fff;
}
.main__introduce{
    padding-top: 100px;
}
.main__introduce__top{
    display:block;
    color:rgb(113,128,150);
    font-weight: 400;
    margin-bottom: 20px;
}
.main__introduce__desc{
    max-width:700px;
    margin:0 auto;
    font-size: 30px;
    position: relative;
    color:rgb(23,19,71);
}
.main__introduce__desc span{
    display:inline-block;
    position: relative;
    font-weight: 700;
}
.main__introduce__desc span:after{
    content:"";
    display:block;
    position: absolute;
    width: 100%;
    bottom: 9px;
    z-index: -1;
    height: 10px;
    background:#FFE5B1;
}
.main__introduce__img{
    width: 100%;
}


.main__product{
    background: #f2f3fa;
    padding-top: 60px;
}
.main__product__introduce{
    width: 650px;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.main__product__introduce__title{
    color:rgb(23,19,71);
    text-transform: capitalize;
    font-size: 40px;
    position: relative;
    margin-bottom:50px;
}
.main__product__introduce__title:after{
    content:'';
    display:block;
    width: 50px;
    height: 2px;
    background:#008aff;
    position: absolute;
    left:42%;
    top:calc(100% + 20px);    
}
.main__product__introduce__content{
    color:#718096;
    text-align: center;
    margin-bottom: 50px;
}
.main__product__item{
    position: relative;
    margin-bottom: 20px;
}

.main__product__item:hover .main__product__item__detail{
    opacity: 1;
    width: 100%;
}
.main__product__item__img{
    width: 100%;
}
 .main__product__item__detail{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:20px 0 0 20px;
    background:rgba(0,0,0,.8);
    opacity: 0;
    width: 40%;
    transition: all .3s;
} 
.main__product__item__detail__title{
    color:#fff;
}
.main__product__item__detail__content{
    color:#6e6e6f;
    font-size: 14px;
}
.main__product__item__detail__link{
    color:#fff;
    display:inline-block;
    border-bottom: 2px solid #fff;
    animation: hideIn3 .5s forwards;
    cursor: pointer;

}
.main__product__item__detail__link:hover{
    animation: hideIn2 .5s forwards;


}

.main__support{
    padding:100px 0;
}
.main__support__desc{
    margin-right: 50px;
}
.main__support__desc__top{
    color:#008aff;
    font-size: 15px;
    font-weight: 700;
}
.main__support__desc__title{
    color:#171347;
    font-weight: 500;
    font-size: 30px;
    margin:20px 0;
}
.main__support__desc__content{
    color:#7b879a;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}
.main__support__desc__btn{
    outline: none;
    border:2px solid #008aff;
    border-radius: 7px;
    background: #008aff;
    font-size: 14px;
    color:#fff;
    margin-top:10px;
    padding: 7px 18px;
}
.main__support__item__icon{
    color:#008aff;
    font-size: 45px;
    margin:20px 0;
}
.main__support__item__title{
    color:#171347;
    font-size: 16px;
}
.main__support__item__content{
    color:#7180A3;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}